<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- ================== BEGIN BASE CSS STYLE ================== 
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />-->
<link href="${cxt!}/ui/color/assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/css/animate.min.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/css/style.min.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/css/style-responsive.min.css" rel="stylesheet"/>
<!-- ================== END BASE CSS STYLE ================== -->

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="${cxt!}/ui/plugins/bootstrap-duallistbox/css/bootstrap-duallistbox.css" rel="stylesheet">
<link href="${cxt!}/ui/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<link href="${cxt!}/ui/color/assets/plugins/parsley/parsley.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"/>
<link href="${cxt!}/ui/color/assets/plugins/DataTables-1.9.4/css/data-table.css" rel="stylesheet">
<link href="${cxt!}/ui/color/assets/css/style-responsive.min.css" rel="stylesheet">
<link href="${cxt!}/ui/hi/css/admin.css" rel="stylesheet">
<!-- ================== END PAGE LEVEL STYLE ================== -->