<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="/jf/room/index" class="ajax">${i18nMap["admin.common.mainPage"]}</a></li>
    <li class="active">${i18nMap["admin.common.msgAjaxError"]}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">${i18nMap["admin.common.msgAjaxError"]}</h1>
<!-- end page-header -->

<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">失败描述</h4>
    </div>
    <div class="panel-body">
        ${msg!}
    </div>
</div>